speleothem_modeling_inputs/
dod2k/dup_detection_old/
ch2k/.ipynb_checkpoints
fe23/.ipynb_checkpoints
iso2k/.ipynb_checkpoints
pages2k/.ipynb_checkpoints/
sisal/.ipynb_checkpoints/
dod2k/.ipynb_checkpoints/
dod2k_dupfree/.ipynb_checkpoints/
dod2k_dupfree_dupfree/.ipynb_checkpoints/
dod2k_dupfree_dupfree_MT/.ipynb_checkpoints/
.ipynb_checkpoints/
ze_older_ipynbs/
ch2k/figs
fe23/figs
iso2k/figs
pages2k/figs
sisal/figs
dod2k/figs
dod2k_dupfree/figs
dod2k_dupfree_dupfree/figs
dod2k_dupfree_dupfree_MT/figs
*.pdf
__pycache__
mike_matlab_script
